.sales-boxes ag-grid-angular{
    margin-left: 2%;
    width: 75%; 
    height: 600px
}

.space {
    width: 10px;
    height: auto;
    display: inline-block;
}

.teacher{
    margin-top: 20px; 
    margin-left: 5%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr th{
    background-color: #6b90da;
}

tr:nth-child(even) {
    background-color: #dddddd;
}